---
name: Build all containers

on:
  push:
    branches:
      - master
  schedule:
    - cron: "0 0 * * *"

jobs:
  container-builder:
    strategy:
      fail-fast: false
      matrix:
        image:
          - maubot-maubot
          - leafac-killthenewsletter
          - rsync
          - minetools
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@6eefb174e94bfdeb1cb1caf0a0de19a7634a80d0
        with:
          all_but_latest: true
          access_token: ${{ github.token }}
      - name: Get timestamp
        id: timestamp
        run: echo "::set-output name=timestamp::$(date +'%Y%m%dT%H%M%S')"
      - name: Check out repo
        uses: actions/checkout@v2
      - name: Get app version
        id: app-version
        run: echo "::set-output name=app-version::$(cat ${{ matrix.image }}/version)"
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: ${{ matrix.image }}
          push: true
          tags: |
            ghcr.io/jeffcasavant/public-containers/${{ matrix.image }}:latest
            ghcr.io/jeffcasavant/public-containers/${{ matrix.image }}:${{ steps.app-version.outputs.app-version }}
            ghcr.io/jeffcasavant/public-containers/${{ matrix.image }}:${{ steps.app-version.outputs.app-version }}-${{ steps.timestamp.outputs.timestamp }}
